@using MTP1
@model MTP1.Models.ActorDic

@{
    ViewBag.Title = string.Format("Элемент справочника | {0}", Constants.TITLE);
}

<p>
    @this.Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @this.Html.ActionLink("Участники", "Index")
</p>

<fieldset>
    <legend>Элемент справочника Участники</legend>

    <div class="display-label">Наименование</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
