@using MTP1
@model MTP1.Models.DefectDic

@{
    ViewBag.Title = string.Format("Элемент справочника | {0}", Constants.TITLE);
}

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = this.Model.ID }) |
    @Html.ActionLink("Типы дефектов", "Index")
</p>

<fieldset>
    <legend>Элемент справочника Типы дефектов</legend>

    <div class="display-label">Тип дефекта</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>