@using MTP1.Service.Factory
@model MTP1.Models.EnvironmentFactor
<div>
</div>

    
<div class="display-label">Use Case</div>
<div class="editor-field">
    @{
        var queryUseCases = UseCaseServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Title }).ToList();
        List<SelectListItem> listUseCases = queryUseCases.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.UseCase == item.ID }).ToList();
        @this.Html.DropDownListFor(model => model.UseCase, listUseCases, "...")

    } 
    
</div>
<table>
    <tr>
        <td>Фактор окружения</td>
        <td>Весовой коэффициент</td>
        <td>Сложность</td>
    </tr>
    <tr>
        <td>
            @{
                var queryEnvFactors = EnvironmentFactorDicServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Title }).ToList();
                List<SelectListItem> listEnvFactors = queryEnvFactors.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.EnvironmentFactor1 == item.ID }).ToList();
                @this.Html.DropDownListFor(model => model.EnvironmentFactor1, listEnvFactors, "...")
              } 
        </td>
        <td>
            @{
                var queryWCs = WeightCoefficientDicServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Value }).ToList();
                List<SelectListItem> listWCs = queryWCs.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.WeightCoefficient == item.ID }).ToList();
                @this.Html.DropDownListFor(model => model.WeightCoefficient, listWCs, "...")
            } 
        </td>
        <td>
            @{
                var queryDifficulties = PriorityDicServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Title }).ToList();
                List<SelectListItem> lisDifficulties = queryDifficulties.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.Difficulty == item.ID }).ToList();
                @this.Html.DropDownListFor(model => model.Difficulty, lisDifficulties, "...")
            } 
        </td>
    </tr>
</table>