@model MTP1.Models.TestMethodDic
<div>
</div>
<div class="editor-label">
    Метод тестирования
</div>
<div class="editor-field">
    @this.Html.EditorFor(model => model.Title)
    @this.Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
    Описание
</div>
<div class="editor-field">
    @this.Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 5 })
    @this.Html.ValidationMessageFor(model => model.Description)
</div>