@using MTP1
@model MTP1.Models.TechnicalFactorDic

@{
    ViewBag.Title = string.Format("Элемент справочника | {0}", Constants.TITLE);
}

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = this.Model.ID }) |
    @Html.ActionLink("Типы технических факторов", "Index")
</p>

<fieldset>
    <legend>Элемент справочника Технические факторы</legend>

    <div class="display-label">Тип технического фактора</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
