@using MTP1
@model MTP1.Models.ReliabilityEvaluationDic

@{
    ViewBag.Title = string.Format("Элемент справочника | {0}", Constants.TITLE);
}

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Показатели надежности", "Index")
</p>

<fieldset>
    <legend>Элемент справочника Показатели надежности</legend>
    <div class="display-label">Показатель надежности</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
